* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.home-page {
    width: 100%;
    height: 100%;
    padding-top: 0px;
}

.video-container {
    z-index: 0;
}

#homevideo {
    position: fixed;
    object-fit: cover;
    object-position: 50% 30%;
    right: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    filter: brightness(0.5);
}

nav {
    font-family: "Raleway", sans-serif;
}

.mobile-nav {
    z-index: 9999999;
    position: fixed;
    width: 100%;
    background-color: hsla(0, 0%, 0%, 0.75);
}

#links {
    display: flex;
    align-content: center;
    justify-content: center;
    top: 0;
    width: 100%;
    margin: 0 auto;
}

.nav-link {
    
    border: 2px solid hsla(213, 78%, 11%, 0);
    color: hsla(24, 55%, 74%, 0.8);
    background-color: hsla(201, 20%, 80%, 0.041);
    transition: background-color 0.6s, color 0.3s, border 1s, font-size 0.5s;
    height: 60px;
    line-height: 30px;
    width: 300px;
    padding: 10px;
    text-align: center;
    font-size: 16px;
}

.nav-link:hover {
    background-color: hsla(40, 39%, 70%, 0.795);
    color: hsl(0, 0%, 100%);
    border: 2px solid hsla(52, 55%, 74%, 0.685);
    font-size: 18px;
}

#fpagetitle {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.overlay {
    position: relative;
    top: 0;
    /* background: hsla(0, 0%, 0%, 0.7); */
    width: 100%;
    height: 100vh;
    padding: 0px;
    z-index: 0;
}

.title {
    margin: 0 auto;
    padding: 20vh 10vh 0;
    position: relative;
    top: 0;
}

.surname, .name {
    font-family: "Unbounded", sans-serif;
    color: hsl(40, 39%, 80%);
    font-size: 8vw;
    letter-spacing: 6px;
    font-style: normal;
}

.initial {
    font-size: 10vw;
    color: hsl(0, 20%, 90%);
}

.surname {
    border-top: 2px solid hsla(201, 20%, 80%, 0.623);
    text-align: left;
}

.name {
    border-bottom: 2px solid hsla(201, 20%, 80%, 0.623);
    text-align: right;
}

#justify-container {
    display: inline;
}

#visual-catch {
    color: hsla(24, 80%, 50%, 0.9);
    transition: color 3s 2s;
    text-align: left;
    width: 15.5vw;
}

.subtitle {
    width: 100%;
    display: inline-flex;
    justify-content: end;
    color: hsla(24, 59%, 70%, 0.9);
    text-align: right;
    letter-spacing: 1vw;
    word-spacing: 3vw;
    padding: 15px;
    font-size: 1.4vw;
}

main {
    position: relative;
    height: 100vh;
}

.transition {
    background-color: rgb(36, 23, 15);
    height: 9vh;

}

.main-content {
    background-color: black;
    height:100%;
}